<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="notifications">
      <ion-button ion-button icon-only routerDirection="root" routerLink="/notifications">
        <ion-badge *ngIf="n" color="danger">{{ n }}</ion-badge>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary" class="user-details">
    <ion-item class="transparent" lines="none">
      <ion-avatar slot="start">
        <img src="../../../assets/images/logo-w.png">
      </ion-avatar>
      <ion-label class="names-occupation">
        <h3>Jesus Vision</h3>
        <p> Deliverance Ministry</p>
      </ion-label>
    </ion-item>
    <p class="main-bible-words">I am the way and the truth and the life. No one comes to the Father except through me <br/>John 14:6</p>
  
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="list-tasks">
    <ion-item lines="none" class="transparent title-list">
      <ion-label>
        <h2>
          Upcoming Prayers
        </h2>
      </ion-label>
      <!-- <ion-fab-button slot="end" color="success" class="btn-schendule" (click)="openSchebdule()">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button> -->
    </ion-item>
    <ion-item lines="none" class="transparent task" *ngFor="let prayer of prayers">
      <!-- <ion-fab-button slot="start"  size="small" class="btn-fab-list">
       <ion-icon [name]="task.icon"></ion-icon>
      </ion-fab-button> -->
      <ion-label>
        <h3> {{ prayer.meeting.title }} </h3>
        <p>{{ prayer.meeting.day.name }} {{ prayer.meeting.description }} Indian Time <br> &#8226;  {{ prayer.meeting.status }}</p>
        <p>{{ prayer.meeting.zoomId.name }} </p>
      </ion-label>
      <ion-button  size="small" slot="end" disabled>Join Now</ion-button>
    </ion-item>
  </ion-list>
  
  <ion-list class="list-projects">
    <ion-item lines="none" class="transparent ourservice title-list">
      <ion-label>
        <h2>
          Our Services
        </h2>
      </ion-label>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="card-service">
            <img src="../../../assets/images/img8.jpg" />
            <ion-card-content>
              <ion-label>
                <h3> Spiritual Advising </h3>
                <p>  Blessed are those who mourn, for they will be comforted.
                  Matthew 5:4 NIV</p>
              </ion-label>
            <ion-button size="small" expand="block" fill="solid" (click)="gotoService('councling')">Book Now</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-service">
            <img src="../../../assets/images/img6.png" />
            <ion-card-content>
              <ion-label>
                <h3> Deliverance Camp </h3>
                <p>  When evening came, many who were demon-possessed were brought to him, and he drove out the spirits with a word and healed all the sick.
                  Matthew 8:16 </p>
              <!-- <ion-button size="small" fill="clear">Know more</ion-button> -->

              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-service">
            <img src="../../../assets/images/img1.jpg" />
            <ion-card-content>
              <ion-label>
                <h3> Prayer Request </h3>
                <p> Therefore confess your sins to each other and pray for each other so that you may be healed. The prayer of a righteous person is powerful and effective.
                  James 5:16</p>
                  <!-- <ion-button size="small" fill="clear">Know more</ion-button> -->
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-service">
            <img src="../../../assets/images/img11.jpg" />
            <ion-card-content>
              <ion-label>
                <h3> Youth Meetings </h3>
                <p>How can a young person stay on the path of purity? By living according to your word.
                  Psalms 119:9 NIV</p>
                  <!-- <ion-button size="small" fill="clear">Know more</ion-button> -->
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


</ion-content>
