<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="mainImg">
        <img  [src]="mainImg">
      </ion-col>
    </ion-row>
 <br>
    <ion-row>
      <ion-col class="aboutus-txt aboutus-card">
        <ion-note>
          <p>Dear Brother/Sister in Jesus Christ, <br/> Please double-check that your phone number and prayer group information are right. Our team will review your request and get back to you as soon as possible. In the meantime, you can monitor the status of your request on your profile page.
          </p>
        </ion-note>
        <ion-item lines="none">
          <ion-label position="stacked">Country</ion-label>
          <ionic-selectable [(ngModel)]="myCountry" [items]="countries" itemValueField="id"
            itemTextField="name" [canSearch]="true" (onChange)="countryChange($event)" placeholder="Select your current or nearby location">
            <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
          </ionic-selectable>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Phone number</ion-label>
          <ion-input [(ngModel)]="phonenumber" placeholder="Phone number">  </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">My Prayer group</ion-label>
          <ionic-selectable [(ngModel)]="prayerGroup" [items]="prayerGroups" itemValueField="id"
            itemTextField="name" [canSearch]="true" (onChange)="prayerGrpChange($event)" placeholder="Select Prayer Group">
            <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
          </ionic-selectable>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Your comments</ion-label>
          <ion-textarea cols="12" [(ngModel)]="usernotes" rows="10" clearOnEdit="true"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-button fill="solid" size="medium" (click)="createSchedulePre()" expand="full" [disabled]="!(prayerGroup) || !(phonenumber) || !(myCountry)">
      Submit Request
    </ion-button>
</ion-footer>
