ion-grid{
    --ion-grid-padding:0;
    --ion-grid-column-padding:0;
}
.mainImg{
    img{
        max-height: 25vh;
    }
    text-align: center;
    background-color: #fff;
}

ion-content{
    --ion-grid-padding:0;
    --ion-grid-column-padding:0;
}
 
.h-20{
    min-height: 20vh;
    background-image: url('../../../assets/images/jvdm-banner.png'),  linear-gradient(126deg, rgba(255,255,255,1) 72%, rgba(240,240,240,1) 94%);;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    img{
        margin-top: 20px;
        border-radius: 50%;
        width: 30%;
    }
}
.aboutus-card{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
    border-radius: 16px;
    background: #fff;
    h3 {
        font-weight: bold;
        text-align: center;
        color: #000;
    }

    p {
        padding: 0 16px;
        margin: 10px 0;
        color: #000000;
        font-size: 15px;
        line-height: 1.65;
    }
}
.center-text{
    text-align: center;
}