ion-content{
    --ion-grid-padding:0;
    --ion-grid-column-padding:0;
}
 
.aboutus-card{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
    border-radius: 16px;
    h3 {
        font-weight: bold;
        text-align: center;
        color: #000;
    }

    p {
        padding: 0 16px;
        margin: 10px 0;
        color: #000000;
        font-size: 15px;
        line-height: 1.65;
    }
}
.center-text{
    text-align: center;
}