<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Director</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../assets/images/brshibu.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="aboutus-txt aboutus-card">
        <ion-note>

          <h3>Evg. SHIBU EALAYIL</h3>

          <p>Evangelist Br Shibu Ealayil in the year 1988 ,March 2 received the power of the Holy spirit and preached
            the word of God in front of a massive Christian congregation by the blessings of the almighty God in
            Nedumkayam Hence, began the Preaching devotional journey in spreading God's Word in churches, prayer halls
            and auditoriums. Since then, Br Shibu Ealayil spent 32 glorious years in preaching the Gospel and started an
            Ecumenical prayer Group. In 1998, he studied about Bondage Deliverance and received the gift of the Holy
            Spirit through which he started a full time retreat After completing 32 years in this Ministry, he preached
            and helped more than 100,000 believers to understand the Gospel and lead them to Jesus, conducted various
            bible meetings across the world and Conducting Bible study trips to Different countries. Additionally,
            empowering more than 5000 disciples to spread the word of God worldwide. Br Shibu Ealayil continues to
            practise the denomination of Christianity in which he was born.
            <br/>
            "You need a special permission from your neighbour to praise and glorify the God which they worship.
            However, to spread the name of Jesus which is filled in my heart I only need the will of my mind and soul"
            <br/>
            Br Shibu Ealayil
          </p>

        </ion-note>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
