<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Locations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" slot="fixed">
    <ion-fab-button *ngIf="showList" (click)="addNew(1)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!showList" (click)="addNew(0)">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="!showList">
    <ion-row>
      <ion-col class="text-center">
        <ion-label>Add New Locations</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="addNewLocation()" [formGroup]="credentials">

        <ion-card class="form-card">
          <ion-item>
            <ion-label position="stacked">Location</ion-label>
            <ion-input formControlName="location" name="location" type="text" placeholder="Location">
            </ion-input>
          </ion-item>
          <div *ngIf="(location.dirty || location.touched) && location.errors" class="errors">
            <span *ngIf="location.errors?.required">Location is required</span>
          </div>
      
          <ion-item>
            <ion-label position="stacked">Country</ion-label>
            <ion-input formControlName="country" name="country" type="text" placeholder="Country">
            </ion-input>
          </ion-item>
          <div *ngIf="(country.dirty || country.touched) && country.errors" class="errors">
            <span *ngIf="country.errors?.required">Contry is required</span>
          </div>

          
          <ion-item>
            <ion-label position="stacked">State</ion-label>
            <ion-input formControlName="state" name="state" type="text" placeholder="State">
            </ion-input>
          </ion-item>
          <div *ngIf="(state.dirty || state.touched) && state.errors" class="errors">
            <span *ngIf="state.errors?.required">State is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">District</ion-label>
            <ion-input formControlName="district" name="district" type="text" placeholder="District">
            </ion-input>
          </ion-item>
          <div *ngIf="(district.dirty || district.touched) && district.errors" class="errors">
            <span *ngIf="district.errors?.required">State is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">Pincode</ion-label>
            <ion-input formControlName="pincode" name="pincode" type="text" placeholder="Pincode">
            </ion-input>
          </ion-item>
          <div *ngIf="(pincode.dirty || pincode.touched) && pincode.errors" class="errors">
            <span *ngIf="pincode.errors?.required">Pincode is required</span>
          </div>

            <br />
            <ion-button  type="submit" expand="block" [disabled]="!credentials.valid" color="primary">
             ADD NEW LOCATION<ion-icon slot="end" src="../../../assets/img/lock-open.svg"></ion-icon>
            </ion-button>
            <ion-item lines="none"  *ngIf="errorMessage !== ''">
              <ion-note class="text-center errors">
                {{errorMessage}}
              </ion-note>
            </ion-item>
            <br />
        </ion-card>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="listitems"  *ngIf="showList && listofLocations.length > 0">
    <ion-item *ngFor="let location of listofLocations">
      <ion-label>
        <h2>{{location.location}}</h2>
        <h3>{{location.district}} - {{location.state}} - {{location.country}} - {{location.pincode}}</h3> 
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid class="text-center listitems" *ngIf="showList && listofLocations.length === 0">
    <ion-label> No Locations found. Please add New Location </ion-label>

  </ion-grid>
</ion-content>
