<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register- {{item.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="updateAttenddee(credentials.value)" [formGroup]="credentials">
      <ion-list class="list-mp">
        <ion-radio-group formControlName="isChild">
          <ion-list-header>
            <ion-label>
              Please choose age category
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Child</ion-label>
            <ion-radio  [value]="true"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Adult</ion-label>
            <ion-radio  [value]="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-radio-group formControlName="isPaid">
          <ion-list-header>
            <ion-label>
              Please choose payment type
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Free</ion-label>
            <ion-radio  [value]="false"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Paid</ion-label>
            <ion-radio   [value]="true"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-item>
          <ion-checkbox formControlName="isJvdmMember" slot="start"></ion-checkbox>
          <ion-label>Jvdm Memeber</ion-label>
        </ion-item>
        <ion-radio-group  name="campCount" id="{{'radiocamp'+i}}" formControlName="campCount" >
          <ion-list-header>
            <ion-label>
              Number of 3 Day Camp Attended
            </ion-label>
          </ion-list-header>
          <div class="horizontal-list">
            <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]">
              <ion-radio [value]="i"></ion-radio> &nbsp;
              <ion-label>{{i}}</ion-label>
            </ion-item>
          </div>
        </ion-radio-group>
        <ion-item>
          <ion-label  position="stacked">Id Card</ion-label>
          <ion-input type="text" placeholder="Id Card" formControlName="idCard"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Year of Joining</ion-label>
          <ion-input placeholder="Year of Joining Jesus Vision" type="number"formControlName="memberSince"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Prayer group</ion-label>
          <ionic-selectable formControlName="prayerGroupId" name="prayerGroupId" [items]="prayerGroups" itemValueField="id"
            itemTextField="name" [canSearch]="true" placeholder="Select Prayer Group">
            <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
          </ionic-selectable>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Amount</ion-label>
          <ion-input type="number" placeholder="Amount" formControlName="amount"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Update</ion-button>
      </ion-list>
  </form>
 
</ion-content>
