<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Prayer Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" slot="fixed">
    <ion-fab-button  routerDirection="root" routerDirection="forward" [routerLink]="['/create-prayer-group']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let prayerGroup of prayerGroups">
     <ion-icon class="person" slot="start"></ion-icon>
      <ion-label>
        <h2>{{prayerGroup.name}}</h2>
        <h3>{{prayerGroup.description}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
