<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let notification of notifications"> 
      <ion-card-header>
        <ion-card-subtitle>{{notification.updatedAt | date: 'dd/MM/yyyy hh:mm a'}}</ion-card-subtitle>
        <ion-card-title>{{notification.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{notification.message}}
      </ion-card-content>
      <ion-item (click)="openurl(notification)" class="ion-activated">
        <ion-button size="small" slot="end" *ngIf="notification.type === notificationType.LINK">View More</ion-button>
        <ion-button  size="small" slot="end" *ngIf="notification.type === notificationType.PRAYER">Join Now</ion-button>
        <ion-button  size="small" slot="end" *ngIf="notification.type === notificationType.YOUTUBE">Watch Video</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
