<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Zoom Prayer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="addNewZoomPrayer()" [formGroup]="credentials">

        <ion-card class="form-card">
          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-input formControlName="title" name="title" type="text" placeholder="Title">
            </ion-input>
          </ion-item>
          <div *ngIf="(title.dirty || title.touched) && title.errors" class="errors">
            <span *ngIf="title.errors?.required">Title is required</span>
          </div>
          <ion-item>
            <ion-label position="stacked">Zoom Id</ion-label>
            <ion-input formControlName="zoomId" name="zoomId" type="text" placeholder="Zoom Id">
            </ion-input>
          </ion-item>
          <div *ngIf="(zoomId.dirty || zoomId.touched) && zoomId.errors" class="errors">
            <span *ngIf="zoomId.errors?.required">Zoom Id is required</span>
          </div>
          <ion-item>
            <ion-label position="stacked">Zoom Link</ion-label>
            <ion-input formControlName="zoomLink" name="zoomLink" type="text" placeholder="url">
            </ion-input>
          </ion-item>
          <div *ngIf="(zoomLink.dirty || zoomLink.touched) && zoomLink.errors" class="errors">
            <span *ngIf="zoomLink.errors?.required">Zoom Link is required</span>
          </div>
          <ion-item>
            <ion-label position="stacked">Time</ion-label>
            <ion-datetime presentation="time"  formControlName="time" name="time"></ion-datetime>
          </ion-item>
          <div >
            <span>Day and Time is required</span>
          </div>
          <div *ngIf="(time.dirty || time.touched) && time.errors" class="errors">
            <span *ngIf="time.errors?.required">Day and Time is required</span>
          </div>
    
            <br />
            <ion-button expand="full" type="submit" expand="block" [disabled]="!credentials.valid" color="primary">
             ADD NEW ZOOM PRAYER<ion-icon slot="end" src="../../../assets/img/lock-open.svg"></ion-icon>
            </ion-button>
            <ion-item lines="none"  *ngIf="errorMessage !== ''">
              <ion-note class="text-center errors">
                {{errorMessage}}
              </ion-note>
            </ion-item>
            <br />
        </ion-card>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
