<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Co-ordinators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let coordinator of coordinators">
     <ion-icon class="person" slot="start"></ion-icon>
      <ion-label>
        <h2>{{coordinator.fullName}}</h2>
        <h3>{{coordinator.email}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
