.bg-none-item{
    ion-item{
        --background:transparent;
    }
}
.btn-register{
   width: 100%;
   font-size: 14px;
   color:#000;
}
.histroryModal{
    margin-top: 40vh;
}
.form-card{
    border-radius: 10px;
    padding: 10px;
    ion-item{
        padding: 5px 10px;
    }
}

.redtext {
    color: #b02928;
    cursor: pointer;
  }
  
  .errors {
    font-size: 12px;
    color: #C8122E;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  