<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Schedule</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" slot="fixed">
    <ion-fab-button *ngIf="!newUser" (click)="addNew(1)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="newUser" (click)="addNew(0)">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="newUser">
    <ion-row>
      <ion-col>
        <form (ngSubmit)="register()" [formGroup]="credentials">
          <ion-card class="form-card">
            <ion-item>
              <ion-label position="stacked">Full name</ion-label>
              <ion-input formControlName="fullName" name="fullName" type="text" placeholder="Full name">
              </ion-input>
            </ion-item>
            <div *ngIf="(fullName.dirty || fullName.touched) && fullName.errors" class="errors">
              <span *ngIf="fullName.errors?.required">Full name is invalid</span>
            </div>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input formControlName="email" name="email" type="text" placeholder="Email">
              </ion-input>
            </ion-item>
            <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
              <span *ngIf="email.errors?.required">Email is required</span>
              <span *ngIf="email.errors?.email">Email is Invalid</span>
            </div>
            <ion-item>
              <ion-label position="stacked">Phone Number</ion-label>
              <ion-input formControlName="phonenumber" name="phonenumber" type="text" placeholder="91 9876543210">
              </ion-input>
            </ion-item>
            <div *ngIf="(phonenumber.dirty || phonenumber.touched) && phonenumber.errors" class="errors">
              <span *ngIf="phonenumber.errors?.required" class="redtext">Phone number is required</span>
            </div>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="password" name="password" type="password" placeholder="Password">
              </ion-input>
            </ion-item>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
              <span *ngIf="password.errors?.required">Password is required</span>
              <span *ngIf="password.errors?.minlength">Password is invalid</span>
            </div>
            <br />
            <ion-item>
              <ion-label position="stacked">Prayer group</ion-label>
              <ionic-selectable formControlName="prayergroup" name="prayergroup" [items]="prayerGroups" itemValueField="id"
                itemTextField="name" [canSearch]="true" placeholder="Select Prayer Group">
                <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
              </ionic-selectable>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Counsellor</ion-label>
              <ionic-selectable  (onChange)="counsellorSelected($event,0)" formControlName="counsellor" name="counsellor" [items]="counslingMembers" itemValueField="id"
                itemTextField="fullName" [canSearch]="true" placeholder="Select Counsellor">
                <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
              </ionic-selectable>
              <ion-button *ngIf="counsellorInfo" (click)="presentHistoryModal('counsellor',counsellorInfo.id)" slot="end" size="small"> <ion-icon name="calendar"></ion-icon></ion-button>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Choose Date and Time for counselling</ion-label>
              <ion-datetime  formControlName="scheduleDateTime" name="scheduleDateTime"  hour-cycle="h12"  locale="en-GB"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Notes</ion-label>
              <ion-textarea  formControlName="notes"  rows="10" name="notes" placeholder="Notes"></ion-textarea>
            </ion-item>
            <ion-button expand="full" type="submit" expand="block" [disabled]="!credentials.valid" color="primary">
              Book Appointment<ion-icon slot="end" src="../../../assets/img/lock-open.svg"></ion-icon>
            </ion-button>
            <br />
            <ion-item lines="none" *ngIf="errorMessage !== ''">
              <ion-note class="text-center">
                {{errorMessage}}
              </ion-note>
            </ion-item>
            <br />
            <br />
            <br />
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!newUser">
    <ion-row>
      <ion-col>
        <form (ngSubmit)="createSchedulePre()" [formGroup]="credentialsPreUser">
          <ion-card class="form-card">
            <ion-item>
              <ion-label position="stacked">Select User</ion-label>
              <ionic-selectable (onSearch)="userSearch($event)" (onChange)="userSelected($event)" formControlName="userId" name="userId" [items]="userMembers" itemValueField="id"
                itemTextField="fullName" [canSearch]="true" placeholder="Select User">
                <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
              </ionic-selectable>
              <ion-button *ngIf="userInfo" (click)="presentHistoryModal('user',userInfo.id)" slot="end" size="small"> <ion-icon name="calendar"></ion-icon></ion-button>
            </ion-item>
            <br />
            <ion-item>
              <ion-label position="stacked">Prayer group</ion-label>
              <ionic-selectable formControlName="prayergroup" name="prayergroup" [items]="prayerGroups" itemValueField="id"
                itemTextField="name" [canSearch]="true" placeholder="Select Prayer Group">
                <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
              </ionic-selectable>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Counsellor</ion-label>
              <ionic-selectable  (onChange)="counsellorSelected($event,1)" formControlName="counsellor" name="counsellor" [items]="counslingMembers" itemValueField="id"
                itemTextField="fullName" [canSearch]="true" placeholder="Select Counsellor">
                <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
              </ionic-selectable>
              <ion-button *ngIf="counsellorInfo" (click)="presentHistoryModal('counsellor',counsellorInfo.id)" slot="end" size="small"> <ion-icon name="calendar"></ion-icon></ion-button>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Choose Date and Time for counselling</ion-label>
              <ion-datetime  formControlName="scheduleDateTime" name="scheduleDateTime"  hour-cycle="h12"  locale="en-GB"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Notes</ion-label>
              <ion-textarea  formControlName="notes"  rows="10" name="notes" placeholder="Notes"></ion-textarea>
            </ion-item>
            <ion-button expand="full" type="submit" expand="block" [disabled]="!credentialsPreUser.valid" color="primary">
              Book Appointment<ion-icon slot="end" src="../../../assets/img/lock-open.svg"></ion-icon>
            </ion-button>
            <br />
            <ion-item lines="none" *ngIf="errorMessage !== ''">
              <ion-note class="text-center">
                {{errorMessage}}
              </ion-note>
            </ion-item>
            <br />
            <br />
            <br />
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
