 <ion-content>
   <ion-grid>
     <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
           History
            <ion-button  (click)="dismiss()" size="small" >CLOSE</ion-button>
          </ion-list-header>
          <ion-item *ngFor="let booking of bookings">
            <ion-label>
              <h2 *ngIf="userType === 'user'">{{booking.counselors.fullName}}</h2>
              <h2 *ngIf="userType !== 'user'">{{booking.users.fullName}}</h2>
              <h3>{{booking.createdAt | date: 'dd/MM/yyyy hh:mm a'}} - {{booking.assignDate | date: 'dd/MM/yyyy hh:mm a'}}</h3>
            </ion-label>
            <ion-button slot="end" size="small">{{booking.status}}</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
   </ion-grid>
 </ion-content>