<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Camp Registration</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="number" (keyup.enter)="searchByPhoneNumber()" [(ngModel)]="phonenumber" placeholder="Phone number" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scanQRCode()">    <ion-icon name="scan"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-list>

    <ion-item (click)="updateDetails(member)" *ngFor="let member of members">
      <ion-label>{{member.name}}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
