.bg-none-item {
  ion-item {
    --background: transparent;
  }
}
ion-content{
  --background: #21427d;
} 
.btn-register {
  width: 100%;
  font-size: 14px;
  color: #000;
}

.form-card {
  border-radius: 10px;
  padding: 10px;

  ion-item {
    padding: 5px 10px;
  }
}

.redtext {
  color: #b02928;
  cursor: pointer;
}
.efseh-content {
  background: #fff;
  border-radius: 10% 10% 0 0;
  --border-radius: 10% 10% 0 0;
  margin: auto -10px -2px -10px;
  bottom: 0;
  width: 102%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.errors {
  font-size: 12px;
  color: #C8122E;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
