<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" #menu>
      <ion-content>
        <ion-list id="inbox-list">
          <img style="width: 75%;" src="../assets/images/logo_black.png">
          <ion-menu-toggle auto-hide="true">
            <ion-item routerDirection="root" routerLink="/task" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" *ngIf="userInfo">
            <ion-item routerDirection="root" routerLink="/my-profile" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>My Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerDirection="root" routerLink="/aboutus" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="receipt"></ion-icon>
              <ion-label>About us</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerDirection="root" routerLink="/brshibuealayil" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>Director</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-menu-toggle auto-hide="true">
            <ion-item routerDirection="root" routerLink="/testimonials" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="heart"></ion-icon>
              <ion-label>Testimonials</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerDirection="root" routerLink="/faqs" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="help-circle"></ion-icon>
              <ion-label>FAQs</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerDirection="root" routerLink="/contactus" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="call"></ion-icon>
              <ion-label>Contact Us</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list>
        <ion-list id="inbox-list" *ngIf="userInfo && !isMember">
          <ion-list-header>
            <p style="width: 100%;" class="text-center"> JESUS VISION</p>
          </ion-list-header>
          <ion-menu-toggle auto-hide="true" *ngIf="isAdmin">
            <ion-item routerDirection="root" routerLink="/dashboard" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" *ngIf="isAdmin || isManager">
            <ion-item routerDirection="root" routerLink="/prayer-groups" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="golf"></ion-icon>
              <ion-label>Prayer Groups</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" >
            <ion-item routerDirection="root" routerLink="/camp-registration" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="videocam"></ion-icon>
              <ion-label>Camp Registration</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" *ngIf="isAdmin || isManager || isLeader">
            <ion-item routerDirection="root" routerLink="/zoom-prayer-list" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="videocam"></ion-icon>
              <ion-label>Zoom Prayers</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" *ngIf="isAdmin || isManager">
            <ion-item routerDirection="root" routerLink="/leaders" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Leaders</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" *ngIf="isAdmin || isManager">
            <ion-item routerDirection="root" routerLink="/coordinators" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="people-circle"></ion-icon>
              <ion-label>Co-ordinators</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" *ngIf="isAdmin || isManager || isLeader">
            <ion-item routerDirection="root" routerLink="/camp-meeting-list" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="id-card"></ion-icon>
              <ion-label>Next Camp</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" *ngIf="isAdmin || isManager || isLeader">
            <ion-item routerDirection="root" routerLink="/create-user" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>Create User</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true" *ngIf="isAdmin || isManager">
            <ion-item routerDirection="root" routerLink="/counsling-members" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Counseling Members</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerDirection="root" *ngIf="isAdmin || isManager || isLeader || isCounclingMemeber"
              routerLink="/schedules" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="calendar"></ion-icon>
              <ion-label>Counseling Requests</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-menu-toggle auto-hide="true">
        <ion-card class="avatar-logout" *ngIf="userInfo">
          <ion-item lines="none" (click)="logout()">
            <ion-avatar slot="start">
              <img src="../assets/images/logo.png">
            </ion-avatar>
            <ion-label>{{userInfo.fullName}}</ion-label>
            <ion-icon slot="end" name="log-out-outline"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-card class="avatar-logout" *ngIf="userInfo === null">
          <ion-item lines="none" (click)="login()">
            <ion-avatar slot="start">
              <img src="../assets/images/logo.png">
            </ion-avatar>
            <ion-label>Sign In</ion-label>
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-menu-toggle>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
