<ion-content>
  <ion-grid>
    <br>
    <br>
    <br>
    <ion-row>
      <ion-col class="bg-none-item">
        <ion-item lines="none">
          <ion-avatar class="text-center m-auto">
            <img src="../../../assets/images/logo.png" />
          </ion-avatar>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="text-center">
            <h3 color="dark">Jesus Vision Deliverance Ministry</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="text-center">
            <h2 color="dark"><b>Register</b></h2>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form (ngSubmit)="register()" [formGroup]="credentials">

        <ion-card class="form-card">
            <ion-item>
              <ion-label position="floating">Full name</ion-label>
              <ion-input formControlName="fullName" name="fullName" type="text" placeholder="Full name">
              </ion-input>
            </ion-item>
            <div *ngIf="(fullName.dirty || fullName.touched) && fullName.errors" class="errors">
              <span *ngIf="fullName.errors?.required">Full name is invalid</span>
            </div>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" name="email" type="text" placeholder="Email">
              </ion-input>
            </ion-item>
            <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
              <span *ngIf="email.errors?.required">Email is required</span>
              <span *ngIf="email.errors?.email">Email is Invalid</span>
            </div>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" name="password" type="password" placeholder="Password">
              </ion-input>
            </ion-item>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
              <span *ngIf="password.errors?.required">Password is required</span>
              <span *ngIf="password.errors?.minlength">Password is invalid</span>
            </div>
            <br />
            <ion-button expand="full" type="submit" expand="block" [disabled]="!credentials.valid" color="primary">
              Register<ion-icon slot="end" src="../../../assets/img/lock-open.svg"></ion-icon>
            </ion-button>
            <br />
            <ion-item lines="none"  *ngIf="errorMessage !== ''">
              <ion-note class="text-center">
                {{errorMessage}}
              </ion-note>
            </ion-item>
        
            <br />
            <ion-item routerDirection="root" routerDirection="forward" [routerLink]="['/login']" class="text-center " lines="none">
              <ion-note class="btn-register"  >Already have an Account? <b>Login</b> </ion-note>
            </ion-item>
            <br />
            <br />
        </ion-card>
      </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
