<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Create User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="register()" [formGroup]="credentials">
          <ion-card class="form-card">
            <ion-item>
              <ion-label position="floating">Full name</ion-label>
              <ion-input formControlName="fullName" name="fullName" type="text" placeholder="Full name">
              </ion-input>
            </ion-item>
            <div *ngIf="(fullName.dirty || fullName.touched) && fullName.errors" class="errors">
              <span *ngIf="fullName.errors?.required" class="redtext">Full name is invalid</span>
            </div>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" name="email" type="text" placeholder="Email">
              </ion-input>
            </ion-item>
            <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
              <span *ngIf="email.errors?.required" class="redtext">Email is required</span>
              <span *ngIf="email.errors?.email" class="redtext">Email is Invalid</span>
            </div>
         
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" name="password" type="password" placeholder="Password">
              </ion-input>
            </ion-item>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
              <span *ngIf="password.errors?.required" class="redtext">Password is required</span>
              <span *ngIf="password.errors?.minlength" class="redtext">Password is invalid</span>
            </div>
            <br />
            <ion-item>
              <ion-label>Role</ion-label>
              <ion-select placeholder="Select role"  formControlName="roleId" name="roleId">
                <ion-select-option *ngFor="let rol of roles" [value]="rol.id">{{rol.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button expand="full" type="submit" expand="block" [disabled]="!credentials.valid" color="primary">
              CREATE USER<ion-icon slot="end" src="../../../assets/img/lock-open.svg"></ion-icon>
            </ion-button>
            <br />
            <ion-item lines="none" *ngIf="errorMessage !== ''">
              <ion-note class="text-center">
                {{errorMessage}}
              </ion-note>
            </ion-item>
            <br />
            <br />
            <br />
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
