<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Prayer Group</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" (click)="addLocation()">Add Location</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <br>
    <ion-row>
      <ion-col class="text-center">
        <ion-label>New Prayer Group</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="addPrayerGroup()" [formGroup]="credentials">

          <ion-card class="form-card">
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input formControlName="name" name="name" type="text" placeholder="Name">
              </ion-input>
            </ion-item>
            <div *ngIf="(name.dirty || name.touched) && name.errors" class="errors">
              <span *ngIf="name.errors?.required">Name is required</span>
            </div>

            <ion-item>
              <ion-label position="stacked">Description</ion-label>
              <ion-input formControlName="description" name="description" type="text" placeholder="Description">
              </ion-input>
            </ion-item>
            <div *ngIf="(description.dirty || description.touched) && description.errors" class="errors">
              <span *ngIf="description.errors?.required">Description is required</span>
            </div>

            <ion-item>
              <ion-label position="stacked">Leader</ion-label>
              <ionic-selectable formControlName="leaderId" name="leaderId" [items]="leaders"
              itemValueField="id" itemTextField="fullName" [canSearch]="true"
              placeholder="">
              <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
            </ionic-selectable>
            </ion-item>
            <div *ngIf="(leaderId.dirty || leaderId.touched) && leaderId.errors" class="errors">
              <span *ngIf="leaderId.errors?.required">Please choose a leader</span>
            </div>

            <ion-item>
              <ion-label position="stacked">Location</ion-label>
              <ionic-selectable formControlName="locationId" name="locationId" [items]="locations"
                        itemValueField="id" itemTextField="location" [canSearch]="true"
                        placeholder="">
                        <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
                      </ionic-selectable>
            </ion-item>
            <div *ngIf="(locationId.dirty || locationId.touched) && locationId.errors" class="errors">
              <span *ngIf="locationId.errors?.required">Please choose a location</span>
            </div>

            <br />
            <ion-button expand="full" type="submit" expand="block" [disabled]="!credentials.valid" color="primary">
              ADD NEW ZOOM PRAYER<ion-icon slot="end" src="../../../assets/img/lock-open.svg"></ion-icon>
            </ion-button>
            <ion-item lines="none" *ngIf="errorMessage !== ''">
              <ion-note class="text-center errors">
                {{errorMessage}}
              </ion-note>
            </ion-item>
            <br />
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
