<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>

    <ion-row>
      <ion-col size="6" *ngFor="let project of projects">

        <ion-card [color]="project.color" class="card-projects">
          <div class="radial-progress" data-progress="0">
            <div class="circle">
              <div class="mask full" [style.transform]="'rotate(' + project.percentage * 100 + 'deg)'">
                <div class="fill" [style.transform]="'rotate(' + project.percentage * 100 + 'deg)'"></div>
              </div>
              <div class="mask half">
                <div class="fill" [style.transform]="'rotate(' + project.percentage * 100 + 'deg)'"></div>
                <div class="fill fix" [style.transform]="'rotate(' + project.percentage * 100 + 'deg)'"></div>
              </div>
            </div>
            <div class="inset" [style.background-color]="project.colorHex">
              <div class="percentage"> {{ project.percentage }}% </div>
            </div>
          </div>

          <ion-card-content>
            <ion-label>
              <h3> {{ project.title }} </h3>
              <p> {{ project.subTitle }} </p>
            </ion-label>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="6">

      </ion-col>
    </ion-row>


  </ion-grid>
  <ion-list class="list-tasks">
    <ion-item lines="none" class="transparent title-list">
      <ion-label>
        <h2>
          Upcoming Prayers
        </h2>
      </ion-label>
      <ion-fab-button slot="end" color="success" class="btn-schendule" (click)="openSchebdule()">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
    </ion-item>
    <ion-item lines="none" class="transparent task" *ngFor="let task of tasks">
      <ion-fab-button slot="start" [color]="task.color" size="small" class="btn-fab-list">
        <ion-icon [name]="task.icon"></ion-icon>
      </ion-fab-button>
      <ion-label>
        <h3> {{ task.title }} </h3>
        <p> {{ task.count_now }} PM Indian Time &#8226; {{ task.count_started }} started</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="list-tasks">
    <ion-item lines="none" class="transparent title-list">
      <ion-label>
        <h2>
          Upcoming Camps
        </h2>
      </ion-label>
      <ion-fab-button slot="end" color="success" class="btn-schendule" (click)="openSchebdule()">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
    </ion-item>
    <ion-item lines="none" class="transparent task" *ngFor="let task of tasks">
      <ion-fab-button slot="start" [color]="task.color" size="small" class="btn-fab-list">
        <ion-icon [name]="task.icon"></ion-icon>
      </ion-fab-button>
      <ion-label>
        <h3> {{ task.title }} </h3>
        <p> {{ task.count_now }} PM Indian Time &#8226; {{ task.count_started }} started</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
