<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>JVDM</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col class="home-heading"> <ion-label><ion-note> Welcome to <br/> </ion-note> Jesus Vision Deliverance Ministry</ion-label> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pd-left">
        <ion-label color="dark">Next Zoom Prayer Meeting</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="next-prayer-list">
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
          <ion-slide *ngFor="let card of [0,1,2,3,4,5,6]" >
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>SUNDAY</ion-card-subtitle>
                  <ion-card-title>Global Prayer Meeting</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                 09:00 PM to 11:00 PM [INDIAN TIME]
                </ion-card-content>
                <ion-item lines="none">
                  <ion-button fill="solid" color="primary" slot="end">Join Now</ion-button>
                </ion-item>
              </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pd-left">
        <ion-label color="dark">Our Services</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="service-data">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <img src="../../../assets/images/img6.png" />
                <ion-card-header>
                  <ion-card-title>Deliverance Camps</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  When evening came, many who were demon-possessed were brought to him, and he drove out the spirits with a word and healed all the sick.
                  Matthew 8:16
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <img src="../../../assets/images/img1.jpg" />
                <ion-card-header>
                  <ion-card-title>Prayer Request</ion-card-title>
                </ion-card-header>
 
                <ion-card-content>
                  Therefore confess your sins to each other and pray for each other so that you may be healed. The prayer of a righteous person is powerful and effective.
                  James 5:16
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card>
                <img src="../../../assets/images/img8.jpg" />
                <ion-card-header>
                  <ion-card-title>Counseling</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Blessed are those who mourn, for they will be comforted.
                  Matthew 5:4 NIV
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <img src="../../../assets/images/img11.jpg" />
                <ion-card-header>
                  <ion-card-title>Youth Meetings</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  How can a young person stay on the path of purity? By living according to your word.
                  Psalms 119:9 NIV
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
