ion-content{
    --ion-grid-padding:0;
    --ion-grid-column-padding:0;
}
 
.home-heading{
    padding: 20px 6px 0px 19px;
    line-height: 18px;
    ion-note{
        font-size:14px;
        font-weight: 200;
    }
    ion-label{
        font-size:16px;
        font-weight: 600;
    }
   
}
.pd-left{
    padding: 10px 20px 10px 10px;
}
.service-data{
    --ion-grid-padding:0;
    --ion-grid-column-padding:0;
    ion-card{
        margin: 5px;
        min-height: 65vh;
    }
}
.next-prayer-list{
    ion-content{
        background:transparent;
    }
    ion-slide{
        max-width: fit-content;
    }
    ion-card{
        margin: 0 10px;
        padding: 5px;
        text-align: left;
        border-radius: 20px;
    }
    ion-card-header{
      padding:  10px 0px 0px 10px;
    }
    ion-card-content{
        padding: 0 10px;
    }
}