/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --ion-font-family: 'Roboto', sans-serif;
  ;
}

.notosans {
  font-family: 'Noto Sans', sans-serif;
  ;
}

ion-content {
  --background: var(--ion-color-secondary);
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.histroryModal{
  margin-top: 40vh;
}
.li-allanimshape {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.shape_1 {
  position: absolute;
  right: -800px;
  top: -1450px;
  width: 2000px;
  height: 2000px;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (max-width: 1280px) {
  .shape_1 {
    right: -650px;
    top: -1710px;
  }
}

@media (max-width: 1199px) {
  .shape_1 {
    right: -1050px;
    top: -1590px;
  }
}

@media (max-width: 991px) {
  .shape_1 {
    right: -430px;
    top: -1690px;
  }
}

@media (max-width: 575px) {
  .shape_1 {
    right: -730px;
    top: -1690px;
    transform: scale(0.8, 1);
  }
}

.shape_1.for_blog {
  right: -690px;
  top: -1070px;
  transform: scale(1, 0.2);
}

@media (max-width: 1440px) {
  .shape_1.for_blog {
    right: -890px;
    top: -1060px;
  }
}

@media (max-width: 1199px) {
  .shape_1.for_blog {
    right: -1080px;
    top: -1080px;
  }
}

@media (max-width: 991px) {
  .shape_1.for_blog {
    right: -650px;
    top: -1190px;
    transform: scale(1, 0.5);
  }
}

.shape_1 .shape_4 {
  position: absolute;
  right: -450px;
  bottom: -2400px;
  width: 600px;
  height: 600px;
}

.shape_1 .shape_5 {
  position: absolute;
  left: -230px;
  bottom: -3500px;
  width: 700px;
  height: auto;
  padding-bottom: 200px;
}

.shape_1 .shape_6 {
  background: red;
  width: 1000px;
  height: 1000px;
  position: relative;
  text-align: center;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20eg);
  border-radius: 30%;
}

.shape_1 .shape_6:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1000px;
  width: 1000px;
  background: red;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  border-radius: 20%;
}

.shape_1.li-animshapesmall .shape_1 {
  right: -870px;
  top: -1550px;
}

.shape_1.li-animshapesmall .shape_1.for_blog {
  right: -690px;
  top: -1070px;
  transform: scale(1, 0.2);
}

@media (max-width: 1440px) {
  .shape_1.li-animshapesmall .shape_1.for_blog {
    right: -890px;
    top: -1060px;
  }
}

@media (max-width: 1199px) {
  .shape_1.li-animshapesmall .shape_1.for_blog {
    right: -1080px;
    top: -1080px;
  }
}

@media (max-width: 991px) {
  .shape_1.li-animshapesmall .shape_1.for_blog {
    right: -650px;
    top: -1190px;
    transform: scale(1, 0.5);
  }
}

@media (max-width: 1199px) {
  .shape_1.li-animshapesmall .shape_1 {
    right: -1080px;
  }
}

@media (max-width: 991px) {
  .shape_1.li-animshapesmall .shape_1 {
    right: -430px;
    top: -1630px;
    transform: scale(1);
  }
}

@media (max-width: 575px) {
  .shape_1.li-animshapesmall .shape_1 {
    right: -730px;
    top: -1690px;
    transform: scale(0.8, 1);
  }
}

.shape_1.li-animshapeextrasmall .shape_1 {
  right: -690px;
  top: -1380px;
  transform: scale(1, 0.6);
}

@media (max-width: 1280px) {
  .shape_1.li-animshapeextrasmall .shape_1 {
    right: -910px;
    top: -1160px;
    transform: scale(1, 0.4);
  }
}

@media (max-width: 1199px) {
  .shape_1.li-animshapeextrasmall .shape_1 {
    right: -1100px;
  }
}

@media (max-width: 991px) {
  .shape_1.li-animshapeextrasmall .shape_1 {
    right: -430px;
    top: -1690px;
    transform: scale(1);
  }
}

@media (max-width: 575px) {
  .shape_1.li-animshapeextrasmall .shape_1 {
    right: -730px;
    top: -1690px;
    transform: scale(0.8, 1);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

.wave_animate {
  transform-origin: 50% 50%;
  animation: drift 35000ms infinite linear;
  -moz-animation: drift 35000ms infinite linear;
}
