<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col class="h-20 m-auto text-center">
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="aboutus-txt aboutus-card">
        <ion-note>

          <h3>JESUS VISION DELIVERANCE MINISTRY</h3>

          <p>Jesus Vision Deliverance Ministry was the first ministry in Kerala to conduct deliverance camps. In 1998,
            camps were started in Punalur and later in Anchal.Since then God has made it possible for the ministry to
            move on despite all kinds of hardships. With God's grace, our ministry has been able to spread the truth
            regarding satanic claims and other bondages to more than 55% Keralites all over the world. Our motive is to
            bring Christians from different churches and denominations together to teach them the gospel as well as to
            praise God but at the same time, we teach them to stand firm in their respective churches. We are totally
            against all superstitious beliefs, so we pray to God only in spirit and in truth exactly as Christ Jesus has
            taught us to. Jesus is the leader of this ministry and everything is done according to His will.
          </p>

        </ion-note>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
