<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Schedules</ion-title>
    <ion-buttons slot="end" *ngIf="isAdmin || isManager">
      <ion-button size="small" routerDirection="root" routerDirection="forward" [routerLink]="['/create-schedules']">
        <ion-icon slot="start" name="calendar"></ion-icon> CREATE SCHEDULE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let booking of bookings">

      <ion-item lines="none" class="popup-location">
        <div>
          <ion-icon slot="start" src="../../../assets/images/person-request.svg">
          </ion-icon>
          <ion-text>{{booking.users.fullName}} </ion-text>
          <ion-text>{{booking.createdAt | date: 'dd/MM/yyyy hh:mm a'}} </ion-text>
        </div>
        <div>
          <ion-text>
            <ion-button size="small">{{booking.status}} </ion-button>
          </ion-text>
          <!-- <ion-icon slot="start" src="../../../assets/images/logo-b.png">
           </ion-icon> -->
        </div>
        <div>
          <ion-icon slot="end" src="../../../assets/images/counsellor.svg">
          </ion-icon>
          <ion-text>{{booking.counselors.fullName}}</ion-text>
          <ion-text>{{booking.assignDate | date: 'dd/MM/yyyy hh:mm a'}}</ion-text>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{booking.note}}</h2>
          <p>{{booking.prayerGroup?.name}}</p>
        </ion-label>
        <ion-button slot="end" size="small" (click)="callCouncelor(booking)"  color="success"><ion-icon name="call"></ion-icon></ion-button>
        <ion-button slot="end" size="small" (click)="presentScheduleStatusUpdate(booking)" color="success">Done</ion-button>
      </ion-item>
    </ion-card>

  </ion-list>
</ion-content>
