.infowindowpopup {
    background: #f0f2f5;
  
    ion-item {
      --background: transparent;
      padding: 18px 0px;
    }
  }
  .my-custom-class .alert-success{
    font-size: 3rem;text-align: center;width:100%;
}
.mr-0{
  margin-right: 0;
}
  .info-window-main {
    min-width: 30vw;
  }
  .popup-location {
    div {
      display: grid;
      text-align: center;
      width: 100%;
  
      ion-icon {
        font-size: 3rem;
        width: 100%;
      }
    }
  
  }
