ion-grid{
    --ion-grid-padding:0;
    --ion-grid-column-padding:0;
}
 
.profile-item{
    border-top: 1px solid #f1f1f1;
}
.profile-img{
    height: 75px;
    width: 75px;
    background: #fff;
    box-shadow: 0px 0px 20px -2px #201953;
    margin-top: -9vh;
    padding: 5px;
    right: 10px;
    position: fixed;
}
.mr-0{
    margin-right: 0;
  }
  .appAccess{
      ion-note{
        background-color: #201953;
        padding: 1px 10px;
        border-radius: 10px;
        margin: 0 4px;
        color: #fff;
      }
  }