<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <img src="../../../assets/images/img3.jpg">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item lines="none" class="profile-item">
        <ion-avatar class="profile-img" slot="end">
          <img src="../../../assets/images/logo.png" />
        </ion-avatar>
        <ion-label slot="start" class="mr-0">
          <h2> <b>{{userInfo.fullName}}</b></h2>
          <h3> {{userInfo.email}}</h3>
          <p class="appAccess"><ion-note *ngFor="let role of userInfo.roles">{{role.name}}</ion-note></p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-accordion-group value="profile">
        <ion-accordion value="profile">
          <ion-item slot="header">
            <ion-label>Profile Details</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item lines="none">
              <ion-label position="stacked">Address</ion-label>
              <ion-input placeholder="My Address">  </ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Phone number</ion-label>
             
            </ion-item>
            <ion-item lines="none">
              <ion-button (click)="presentAlert()">
                <ion-label position="stacked">Delete my account</ion-label>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">My Prayer group</ion-label>
              <ionic-selectable  [items]="prayerGroups" itemValueField="id"
                itemTextField="name" [canSearch]="true" placeholder="Select Prayer Group">
                <ion-icon class="form-inputs-icon" name="git-merge" slot="start"></ion-icon>
              </ionic-selectable>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="shapes">
          <ion-item slot="header">
            <ion-label>My Councling Requests</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item>
              <ion-label>1</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>2</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>3</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="numbers">
          <ion-item slot="header">
            <ion-label>My Prayer Request</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <ion-item>
              <ion-label>1</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>2</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>3</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
